<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iPhone Profit Finder</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1 class="center">iPhone Profit Finder</h1>
    <div class="button-status-wrapper">
        <button class="button" id="runButton">Find new offers</button>
        <div class="status-container" id="status"></div>    
        <div class="loader-container">
            <div class="loader" id="loader"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#runButton").click(function() {
                var loader = $("#loader");
                var status = $("#status");
                var table = $("table"); // Get reference to the table element
    
                loader.show();
                status.text("Searching for the new profit offers...");
    
                $.get("/run_script", function(data) {
                    loader.hide();
                    status.text(data);
    
                    // Refresh the table content by reloading the page
                    table.load(location.href + " table>*", function() {
                        // Reattach the dropdown change event listener
                        reattachDropdownListener();
                    });
                });
            });
    
            function reattachDropdownListener() {
                const dropdowns = document.querySelectorAll('.update-dropdown');
    
                dropdowns.forEach(dropdown => {
                    dropdown.removeEventListener('change', handleDropdownChange);
                    dropdown.addEventListener('change', handleDropdownChange);
                });
            }
    
            function handleDropdownChange() {
                const submitButton = document.getElementById('hidden-submit-button');
                submitButton.click();
            }
    
            // Attach the initial dropdown change event listener
            reattachDropdownListener();
        });
    </script>    
      
    <form method="POST">
        <table>
            <tr>
                {% for header in csv_data[0] %}
                    <th>{{ header }}</th>
                {% endfor %}
            </tr>
            {% for row in csv_data[1:] %}
                <tr>
                    {% for cell in row %}
                        {% if loop.index == loop.length %}
                            <td>
                                <select class="update-dropdown" name="updated_data[]">
                                    <option value="{{ row[-1] }}" selected>{{ row[-1] }}</option>
                                    <option value="{{ 'Y' if row[-1] == 'N' else 'N' }}">{{ 'Y' if row[-1] == 'N' else 'N' }}</option>
                                </select>
                            </td>
                        {% elif loop.index0 == 9 %}
                            <td><a href="{{ cell }}">{{ cell }}</a></td>
                        {% else %}
                            <td>{{ cell }}</td>
                        {% endif %}
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>        
        <button type="submit" id="hidden-submit-button" style="display: none;"></button>
    </form>
<script>
        const dropdowns = document.querySelectorAll('.update-dropdown');
    
        dropdowns.forEach(dropdown => {
            dropdown.addEventListener('change', function() {
                const submitButton = document.getElementById('hidden-submit-button');
                submitButton.click();
            });
        });
</script>
</body>
</html>
